<h2>Uporabniki</h2>

<ul class="uporabniki">
    <li *ngFor="let uporabnik of uporabniki" (click)="naPodrobnosti(uporabnik)">
        <span>{{uporabnik.ime}} {{uporabnik.priimek}}</span>
        <button class="delete"
                (click)="delete(uporabnik); $event.stopPropagation()">x
        </button>
    </li>
    <button (click)="dodajUporabnika()">Dodaj uporabnika</button>
</ul>
